
*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
body{
    background-color: rgb(34, 63, 94, 0.9);
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: "IBM Plex Sans", sans-serif;
    color:rgb(202, 189, 189);
    text-align: center;
}
@media(min-width:768px){
    .flex-box{
        display:flex;
    }
}
.container{
    margin: 100px auto;
     background-color: rgb(30, 38, 46, 0.856);
    padding:70px;
    width: 70%;
    min-height:55vh;
    border-radius: 10px;
}
.flex-box{
    justify-content: space-around;
    width:100%;   
    margin: 37px auto;
    padding: 17px;
    font-size:18px;
}
.title{
    font-size:30px;
}
h1{
    margin-bottom:15px;
    margin-top:15px;
}